@model RitchieBlackmore.Models.LogOnModel

@{
    ViewBag.Title = "Log On";
}

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm())
{
    <h1 class="text-light">Login to service</h1>
    <hr class="thin" />
    <br />
    <div class="input-control text full-size" data-role="input">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { id="user_login" })
        @Html.ValidationMessageFor(m => m.UserName)
        <button class="button helper-button clear"><span class="mif-cross"></span></button>
    </div>
    <br />
    <br />
    <div class="input-control password full-size" data-role="input">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { id="user_password" })
        @Html.ValidationMessageFor(m => m.Password)
        <button class="button helper-button reveal"><span class="mif-looks"></span></button>
    </div>
    <br />
    <br />
    <div class="form-actions">
        <button type="submit" class="button primary">Login to...</button>
        @Html.ActionLink("Register", "Register")
    </div>
}
