@model RitchieBlackmore.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <h1 class="text-light">Registraite New User</h1>
    <hr class="thin" />
    <br />
    <div class="input-control text full-size" data-role="input">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { id="user_login" })
        <br />
        <div class ="fg-red">
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <button class="button helper-button clear"><span class="mif-cross"></span></button>
    </div>
    <br />
    <br />
    <div class="input-control text full-size" data-role="input">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { id="user_emain" })
        <br />
        <div class ="fg-red">
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <button class="button helper-button clear"><span class="mif-cross"></span></button>
    </div>
    <br />
    <br />
    <br />
    <div class="input-control password full-size" data-role="input">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { id="user_password" })
        <br />
        <div class ="fg-red">
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <button class="button helper-button reveal"><span class="mif-looks"></span></button>
    </div>
    <br />
    <br />
     <div class="input-control text full-size" data-role="input">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.TextBoxFor(m => m.ConfirmPassword, new { id="user_confirmPassword" })
         <br />
        <div class ="fg-red">
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <button class="button helper-button clear"><span class="mif-cross"></span></button>
    </div>
    <br />
    <div class="form-actions">
        <br />
        <button type="submit" class="button primary" value="Register">Register</button>
    </div>
}

