<!DOCTYPE html>
<html>
<head>

    <link href="@Url.Content("~/Content/metro.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/metro-icons.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/metro-responsive.css")" rel="stylesheet">

    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/metro.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
    
    <style>
        html, body {
            height: 100%;
        }
        body {
        }
        .page-content {
            padding-top: 3.125rem;
            min-height: 100%;
            height: 100%;
        }
        .table .input-control.checkbox {
            line-height: 1;
            min-height: 0;
            height: auto;
        }

        @@media screen and (max-width: 800px){
            #cell-sidebar {
                flex-basis: 52px;
            }
            #cell-content {
                flex-basis: calc(100% - 52px);
            }
        }
    </style>

    <script>
        function pushMessage(t){
            var mes = 'Info|Implement independently';
            $.Notify({
                caption: mes.split("|")[0],
                content: mes.split("|")[1],
                type: t
            });
        }

        $(function(){
            $('.sidebar').on('click', 'li', function(){
                if (!$(this).hasClass('active')) {
                    $('.sidebar li').removeClass('active');
                    $(this).addClass('active');
                }
            })
        })
    </script>
</head>
<body class="bg-steel">
    <div class="app-bar fixed-top darcula" data-role="appbar">
        <a class="app-bar-element branding">"Ritchie" Blackmore</a>
        <span class="app-bar-divider"></span>
        <ul class="app-bar-menu">
            <li>@Html.ActionLink("Products", "Index", "Products")</li>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
        </ul>
        <div class="app-bar-element place-right">

            <span class="dropdown-toggle"><span class="mif-cog"></span> @User.Identity.Name</span>
            <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-dark" data-role="dropdown" data-no-close="true" style="width: 220px">
                <h2 class="text-light">Quick settings</h2>
                <ul class="unstyled-list fg-dark">
                    <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
                    <li>@Html.ActionLink("Change Password", "ChangePassword", "Account")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-content">
        @RenderBody()
    </div>
</body>
</html>


