@model RitchieBlackmore.Models.ProductModel


<div class="margin60" >
   @using (Ajax.BeginForm("CreateNewProduct", "Products", new AjaxOptions { UpdateTargetId = "newProduct", OnSuccess = "saccessCreateNewProduct" }, new { @id = "createNewProduct" }))
   {
          @Html.ValidationSummary(true)
    
        <legend>Create product</legend>
   
        
        <div class = "margin20 no-margin-left">
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
       
            <div class="editor-field">
                <div class="input-control password full-size" data-role="input">
                    @Html.EditorFor(model => model.Name)
                    <div class ="fg-red">
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
            </div>
        </div>
        <div class = "margin20 no-margin-left">
            <div class="editor-label">
                @Html.LabelFor(model => model.Price)
            </div>
            <div class="editor-field">
                <div class="input-control password full-size" data-role="input">
                    @Html.EditorFor(model => model.Price )
                    <div class ="fg-red">
                        @Html.ValidationMessageFor(model => model.Price)
                    </div>
                </div>
            </div>
        </div>
       
       <button class="button success" onclick="clickSaccessAddOperation"> Create <span class="mif-checkmark"></span></button>

       <div style ="display:none">
           <p>
             <input id ="idSubmitNewOperation" type="submit" class = "button primary" value="Create" />
           </p>
       </div>
   }            
</div>

