@{
    ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Content/themes/MyTheme/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Products.css")" rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/i18n/grid.locale-ru.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Products.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ServiceViewProducts.js")" type="text/javascript"></script>

<div class="flex-grid no-responsive-future" style="height: 100%">
    <div class="row" style="height: 100%">
            <div class="bg-darkBlue" data-role="charm" data-position="top" id ="createNewProductcharm">
                <div class ="newProduct">
                   @Html.Partial("CreateNewProduct") 
                </div>
            </div>
        <div class="cell size-x300 " >
        </div>
        <div class="cell auto-size padding20 bg-white" id="cell-content-table-product" >
            <h1 class="text-light">Product Tables <span class="mif-table place-right fg-crimson" onclick="showCharm('#createNewProductcharm')"></span></h1>
            <hr class="thin bg-grayLighter">
            <button class="button primary" onclick="showCharm('#createNewProductcharm')"><span class="mif-plus"></span> Create...</button>
            <hr class="thin bg-grayLighter">
            <div class ="productGrid" id ="sectProductGrid" style ="height:100%" data-createoperation-url="@Url.Action("CreateProductOperation", "Products")">
                <div id ="statisticOperationLink" data-statisticOperationProduct-url="@Url.Action("StatisticsOperationProduct", "Products")"></div>
                <table id="jqg"></table>
                <div id="jqgPager"></div> 
            </div>
        </div>
        <div class="cell size-x400 bg-white" id="cell-content">
            <div class="no-margin-left" id ="productDetails" style =" display:none" data-productDetails-url="@Url.Action("ProductDetails", "Products")">
               @Html.Partial("ProductDetails")
            </div>
        </div>
    </div>
</div>


<div id="dialogError" class ="bg-red" data-background ="bg-red" style =" display:none">
    <div class ="row">
        <span class="mif-warning mif-4x"></span>
        <h1>Error!!!</h1>
    </div>
    <div id ="ErrorText"></div>
</div>

<div id ="formsStatisticsProduct" style =" display:none">
     @Html.Partial("StatisticsOperationProduct")
</div>

<div id ="deleteDialogForm" style =" display:none"  data-deleteProduct-url="@Url.Action("DeleteProduct", "Products")">
     <div id="dialog-confirm">
         Do you wont to delete this product
     </div>
</div>

@Ajax.ActionLink("Statistic", "ProductDetails", new { productStatistic = "" },
                                    new AjaxOptions { UpdateTargetId = "productDetails" },
                                    new { @id = "productDetailsLink", @style = "visibility:hidden;" })
