@{
    ViewBag.Title = "Index";
}


    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Products.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/i18n/grid.locale-ru.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Products.js")" type="text/javascript"></script>


<div >
    <div >
        <div  >
            @*<form id ="addProductForm", data-createproduct-url="@Url.Action("CreateNewProduct", "Products")">
                <div class="input-control text">
                    <input id ="newProductName" type="text" name="newProductName"  value="">
                </div>
                <div class="input-control text">
                    <input id ="newProductPrice" type="text" name="price"  value="">
                </div>
                <button id ="createNewProductForm" type="submit" class="button success">Добавить</button>
           </form>*@
        </div>
        <div id ="sectProductGrid"  data-createoperation-url="@Url.Action("CreateProductOperation", "Products")">
            <table id="jqg"></table>
            <div id="jqgPager"></div> 
        </div>
        <div >
            
        </div>  
    </div>
</div>

<div id ="formsStatisticsProduct" style =" display:none">
    @Html.Partial("StatisticsProduct")
</div>

<div id ="deleteDialogForm" style =" display:none">
    Вы действительно хотите удалить строку
</div>